In [0]:
import requests
import json

import pandas as pd
import numpy as np

In [0]:
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json][timeout:25]; area(3600301091)->.searchArea; ( node['amenity'='hospital'](area.searchArea); node['amenity'='school'](area.searchArea);relation['admin_level'='10'](area.searchArea); ); out body; >; out center;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
data = response.json()

In [0]:
df = pd.DataFrame(data['elements'])

In [0]:
df.head()

,center,id,lat,lon,members,nodes,tags,type
0,NaN,501170977,-5.869024,-35.234268,NaN,NaN,{'amenity': 'school'},node
1,NaN,501170997,-5.823610,-35.222611,NaN,NaN,"{'amenity': 'school', 'name': 'Centro de Atenç...",node
2,NaN,501171016,-5.871019,-35.221614,NaN,NaN,"{'amenity': 'school', 'name': 'Piaget'}",node
3,NaN,501619315,-5.816246,-35.204844,NaN,NaN,"{'amenity': 'hospital', 'name': 'Hospital da U...",node
4,NaN,501784871,-5.812943,-35.210726,NaN,NaN,{'amenity': 'school'},node

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2770 entries, 0 to 2769
Data columns (total 8 columns):
center     407 non-null object
id         2770 non-null int64
lat        2327 non-null float64
lon        2327 non-null float64
members    36 non-null object
nodes      407 non-null object
tags       499 non-null object
type       2770 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 173.2+ KB

In [0]:
df['tags']

0                                   {'amenity': 'school'}
1       {'amenity': 'school', 'name': 'Centro de Atenç...
2                 {'amenity': 'school', 'name': 'Piaget'}
3       {'amenity': 'hospital', 'name': 'Hospital da U...
4                                   {'amenity': 'school'}
5       {'amenity': 'school', 'name': 'Escola Boa Ideia'}
6                                 {'amenity': 'hospital'}
7                                   {'amenity': 'school'}
8             {'amenity': 'school', 'name': 'SEST/SENAT'}
9                                   {'amenity': 'school'}
10                                  {'amenity': 'school'}
11                   {'amenity': 'school', 'name': 'CEI'}
12      {'amenity': 'hospital', 'name': 'UMS Cidade Sa...
13                                  {'amenity': 'school'}
14         {'amenity': 'school', 'name': 'Contemporâneo'}
15                                  {'amenity': 'school'}
16      {'addr:city': 'Natal - RN', 'addr:housenumber'...
17      {'addr:city': 'Natal - RN', 'addr:housenumber'...
18                                  {'amenity': 'school'}
19      {'amenity': 'school', 'name': 'Wizard', 'sourc...
20      {'amenity': 'school', 'name': 'Prepara Cursos ...
21      {'amenity': 'school', 'name': 'Escola Estadual...
22                  {'amenity': 'school', 'name': 'Call'}
23       {'amenity': 'school', 'name': 'Reforço Escolar'}
24      {'amenity': 'hospital', 'name': 'SESI Clínica'...
25      {'amenity': 'school', 'name': 'Watford', 'sour...
26      {'alt_name': 'CEU', 'amenity': 'school', 'name...
27                                  {'amenity': 'school'}
28      {'amenity': 'school', 'name': 'Auto Escola Pru...
29                {'amenity': 'hospital', 'name': 'PAPI'}
                              ...
2740    {'highway': 'secondary', 'name': 'Rua São João...
2741    {'highway': 'secondary', 'name': 'Rua São João...
2742    {'highway': 'secondary', 'name': 'Rua Mossoró'...
2743                                                  NaN
2744    {'highway': 'secondary', 'name': 'Avenida Câma...
2745    {'highway': 'secondary', 'name': 'Rua Mossoró'...
2746    {'highway': 'primary', 'name': 'Avenida Ayrton...
2747    {'highway': 'primary', 'lanes': '2', 'name': '...
2748                                                  NaN
2749    {'electrified': 'no', 'gauge': '1000', 'name':...
2750    {'electrified': 'no', 'gauge': '1000', 'name':...
2751                                                  NaN
2752                                                  NaN
2753    {'electrified': 'no', 'gauge': '1000', 'name':...
2754    {'highway': 'residential', 'name': 'Rua dos Po...
2755    {'highway': 'residential', 'name': 'Rua dos Po...
2756                                                  NaN
2757    {'electrified': 'no', 'gauge': '1000', 'name':...
2758    {'highway': 'tertiary', 'name': 'Avenida Abreu...
2759                                                  NaN
2760    {'electrified': 'no', 'gauge': '1000', 'name':...
2761    {'electrified': 'no', 'gauge': '1000', 'name':...
2762    {'highway': 'residential', 'name': 'Rua Peixe ...
2763                                                  NaN
2764    {'electrified': 'no', 'gauge': '1000', 'name':...
2765    {'layer': '-1', 'name': 'Rio Pitimbu', 'tunnel...
2766    {'highway': 'secondary', 'name': 'Avenida Port...
2767    {'electrified': 'no', 'gauge': '1000', 'name':...
2768    {'electrified': 'no', 'gauge': '1000', 'name':...
2769    {'layer': '-1', 'name': 'Rio Doce', 'tag': 'tu...
Name: tags, Length: 2770, dtype: object

In [0]:
def get_amenity(row):
  try:
    amenity = row['amenity']
    return amenity
  except:
    return np.nan
  
def get_name(row):
  try:
    name = row['name']
    return name
  except:
    return np.nan

In [0]:
df['amenity'] = df.tags.apply(get_amenity)
df['name'] = df.tags.apply(get_name)

In [0]:
df['amenity'].unique()

array(['school', 'hospital', nan, 'bench'], dtype=object)

In [0]:
df.head()

,center,id,lat,lon,members,nodes,tags,type,amenity,name
0,NaN,501170977,-5.869024,-35.234268,NaN,NaN,{'amenity': 'school'},node,school,NaN
1,NaN,501170997,-5.823610,-35.222611,NaN,NaN,"{'amenity': 'school', 'name': 'Centro de Atenç...",node,school,Centro de Atenção Integral a Criança e ao Adol...
2,NaN,501171016,-5.871019,-35.221614,NaN,NaN,"{'amenity': 'school', 'name': 'Piaget'}",node,school,Piaget
3,NaN,501619315,-5.816246,-35.204844,NaN,NaN,"{'amenity': 'hospital', 'name': 'Hospital da U...",node,hospital,Hospital da UNIMED
4,NaN,501784871,-5.812943,-35.210726,NaN,NaN,{'amenity': 'school'},node,school,NaN

In [0]:
# load the GeoJSON data and use 'UTF-8'encoding
geo_json_natal = json.load(open('natal.geojson'))